# Default ignored files
/shelf/
/workspace.xml
.idea
/libraries
/out/
target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-status/
target/test-classes/
DesafioMaquinaDeCafe.iml